<a href="https://colab.research.google.com/github/Princeton-CDH/python4poets/blob/main/2_Letters_and_numbers%2C_strings_and_integers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2 Data Types 1: on Letters and Numbers, or on Strings and Integers**

## 2.1 Introduction

This lesson, you'll learn about a few different **data types**.

###2.1.1 Overview -- why Data Types?

Let's start with the obvious questions: 

What are data types? And why do they matter? Can't we do the cool stuff right away?

The short answer: data types are important stuff that you just need to learn about if you want to program. Period. 

The longer answer goes as follows: A data type is a *specification* associated with some data, and it specifies how a computer system ought to interpret its value. Note tat there are *constraints* regarding the possible values that an expression could take; I promise you that you'll run into such constraints on a regular basis -- we'll get to some later.

###2.1.2 Data Types Examples

Here are some examples of data types:

| Data Type | Explanation | Examples | 
|-----------|:-----------|:-----------|
|Integer|Whole Numbers| `1` `2` `3` `-1` `110` `-23` `99999999`|
|Float|Decimal Numbers|`11.1` `9.12784` `-0.841` `10.0`|
|String|Text|`"This is a line of text."` `"Caboozle"`|
|Boolean|either True or False | `True` `False`|
|None|Null Value, no value at all|`None`|


This may sound complicated, but you'll get used to some of these types relatively quickly. Others might take a little longer, but that's ok; also, there are more types, just to warn you. 
Below, we'll go into a bit more detail on different types.

###2.1.3 Type Error

Now, you might ask: why do these things have to be specified?

Imagine the following scenario:


> A friend asks you the following: "What's larger, the product of `62 * 123` or `"A Colony of Ants"`?"


Sounds nonsensical, right? That's because it's essentially a `TypeError` (something you'll encounter A LOT), in which we put inappropriate data types together. 

Expressed in Python, a possible answer could be formulated as follows (if we assumed that the latter was larger):

In [ ]:
62 * 123 < "A Colony of Ants"

TypeError: ignored

You'll notice an error message above. The `TypeError` you'll receive will explain *why* that error came up. In this instance, it's because there's different data types, and the `<` operator does not support a comparison between `int`, integers, and `str`, strings. 

So try to keep your data types proper. And that's why you need to know about types in the first place.

> As a side note: Should you not understand the explanation provided in the error message, it's a good idea to search online for an explanation. Stack Overflow usually has you covered. 


So how can you check what data type a variable is? To make your life easier, Python has the built-in function `type()` for that:

In [ ]:
x = 62 * 123
type(x)

int

So that returns the type of `x`, which here is `int`, an integer. Let's do the same for "Caboozle":

In [ ]:
type("A Colony of Ants")

str

In other words, `"A Colony of Ants"` is a `'str'`, a string. We were hence asking our machine to compare an integer, `int`, to a string, `str`. But they're different, so we need to treat them differently.

And if you're still confused about what was going on above, that's ok too -- we'll explain in more detail below.

## **2.2 Numbers**

The first category we'll learn about in more detail here actually has multiple different data types: numbers come not only as `int`, *integers* (whole numbers), but also as `float`, *floating point numbers* (decimal numbers). Plus, there's also `complex` *complex numbers* (but let's skip these here). We've all learned about numbers in school, right? So a lot of this will look familiar to you.

So... let's solve the example above: Multiply 62 by 123, and print the result.

In [ ]:
print(62 * 123)

Straightforward, right? We're multiplying two `int` and get another `int` in return. What would you expect to happen in the following:

In [ ]:
x = 1
y = 3
z = x / y
type(z)

float

In [ ]:
z * 2

0.6666666666666666

That's right, you *can* mix the types `int` and `float`. If you need to convert them into one another -- for whatever reason -- Python again has built-in functions for that: `int()` and `float()`. Try it out!

In [ ]:
float(10)

10.0

`float()` is straight-forward, right? `int()` is a little trickier:

In [ ]:
int(4.0001)

4

In [ ]:
int(4.9999)

4

There's a considerable loss of data here, so be careful! Remember our variable `z` above, which we happened to define as `0.3333333333333333`? Let's try the following:

In [ ]:
int_z = int(z)
float(int_z)

0.0

For more on numbers, compare also Python's documentation on [Numeric Types](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex). In general, Python's documentation is a great resource to read about specifics.

## **2.3 Strings**

Let's get to the other example we encountered above -- `"A Colony of Ants"`, which was a `str`, a string.

###2.3.1 How to form Strings

A string is a data type in Python that is treated like text. It's enclosed by either single quotation marks (`'like this'`) or double quotation marks (`"like this"`). You could even use three quotation marks (`'''like this'''`).



> But you **cannot** use a mix these!

Try printing the strings (three lines from [a poem by Emily Dickinson](https://www.poetryfoundation.org/poems/44085/it-was-not-death-for-i-stood-up-355)) below:

In [ ]:
print("It was not Death, for I stood up,")
print('And all the Dead, lie down -')
print('''It was not Night, for all the Bells''')

It was not Death, for I stood up,
And all the Dead, lie down -
It was not Night, for all the Bells

###2.3.2 More on Quotation Marks

Now, imagine you'd want to include quotation marks *as part of* the string. For example, you'd want to have a string displaying like this: `In an early poem, "There’s a certain Slant of light, (320)" Dickinson located meaning in a geography of "internal difference."` (to take a sentence from the [Poetry Foundation on Dickinson's poetry](https://www.poetryfoundation.org/poets/emily-dickinson)). There's two ways to achieve this:

*   Use one set of quotation marks to mark the `str`, a different one to mark the quotation therein;
*   Use the backslash character `\` before the quotation marks, which tells Python to *not* treat the next character like it usually would (like this: `\"There’s a certain Slant of light, (320)\"`)

Try it, but read the syntax below carefully:

In [ ]:
print('"It was not Death, for I stood up, (355)"')
print("\"It was not Death, for I stood up, (355)\"")

"It was not Death, for I stood up, (355)"
"It was not Death, for I stood up, (355)"

Now read the following line of code, and predict what will happen when you execute it:

In [ ]:
print("\"It was not Death, for I stood up, (355)"")

SyntaxError: ignored

∇  *Do you know what went wrong there?*


Now imagine you wanted to include *both* single and double quotation marks in a string, as in a statement like this: `The word 'Yes' does not occur in "It was not Death, for I stood up, (355)"`.

∇  *How would you do that? Try it in the line of code below.*

In [ ]:
print(The word 'Yes' does not occur in "It was not Death, for I stood up, (355)")

SyntaxError: ignored

Let's go back to the overall poem, and put in the next line:

In [ ]:
print("Put out their Tongues, for Noon.')

Hold up, something went wrong there! 

∇ *Can you spot the issue?*

As always, the error message can help you -- for more on these, compare the Python documentation on [Errors and Exceptions](https://docs.python.org/3/tutorial/errors.html), where you'll find the following description on `SyntaxError`:


> Syntax errors, also known as parsing errors, are perhaps the most common kind of complaint you get while you are still learning Python (...)
> 
> (...) The parser repeats the offending line and displays a little ‘arrow’ pointing at the earliest point in the line where the error was detected. The error is caused by (or at least detected at) the token preceding the arrow (...)

∇  *So what does the little 'arrow' point out in the example above?*

###2.3.3 Combining Strings

Ok, so let's redo it. But this time, let's assign variable names to each line:

In [ ]:
line1 = "It was not Death, for I stood up,"
line2 = 'And all the Dead, lie down -'
line3 = '''It was not Night, for all the Bells'''
line4 = "Put out their Tongues, for Noon."

And let's put that all together:

In [ ]:
stanza1 = line1 + line2 + line3 + line4
print(stanza1)

It was not Death, for I stood up,And all the Dead, lie down -It was not Night, for all the BellsPut out their Tongues, for Noon.

That looks... not quite right! 

∇ *Can you fathom why it all ended up in one long line?*

###2.3.4 Newline 

Let's try to fix it:

In [ ]:
new_line = "\n"
stanza1 = line1 + new_line + line2 + new_line + line3 + new_line + line4
print(stanza1)

It was not Death, for I stood up,
And all the Dead, lie down -
It was not Night, for all the Bells
Put out their Tongues, for Noon.

`\n` is the new line character and denote a new line within a string. So that did the trick! Now let's collect all the other stanzas:

In [ ]:
stanza2 = "\n\nAnd yet, it tasted, like them all,\nThe Figures I have seen\nSet orderly, for Burial\nReminded me, of mine -"

stanza3 = "\n\nAs if my life were shaven,\nAnd fitted to a frame,\nAnd could not breathe without a key,\nAnd ’twas like Midnight, some -"

stanza4 = "\n\nWhen everything that ticked - has stopped -\nAnd space stares - all around -\nOr Grisly frosts - first Autumn morns,\nRepeal the Beating Ground -"

stanza5 = "\n\nBut most, like Chaos - Stopless - cool -\nWithout a Chance, or spar -\nOr even a Report of Land -\nTo justify - Despair."

poem1 = stanza1 + stanza2 + stanza3 + stanza4 + stanza5

print(poem1)

It was not Death, for I stood up,
And all the Dead, lie down -
It was not Night, for all the Bells
Put out their Tongues, for Noon.

And yet, it tasted, like them all,
The Figures I have seen
Set orderly, for Burial
Reminded me, of mine -

As if my life were shaven,
And fitted to a frame,
And could not breathe without a key,
And ’twas like Midnight, some -

When everything that ticked - has stopped -
And space stares - all around -
Or Grisly frosts - first Autumn morns,
Repeal the Beating Ground -

But most, like Chaos - Stopless - cool -
Without a Chance, or spar -
Or even a Report of Land -
To justify - Despair.

###2.3.5 Back to `romeo` and `juliet`

You might have noticed that *everything* between the quotation marks is therefore a `str`. Like, really, everything. Remember Romeo and Juliet, the variables from lesson one? That's right, they were each also just a `str`.

In [ ]:
juliet=r"""
            ________________________
         ///\\//\\//\\//\\//\\//\\/\\\
       //\{}//\\//\\//\\//\\//\\//{}/\\
      ///&%&%&%&/~~~~~~~~~~~~\&%&%&%&\\\
      ||&%&%&_.'              '._&%&%&||
      ||&%'''                o~  '''%&||
      ||&%&                  /`\   &%&||
      ||&%&                  [ /%\ &%&||
      ||&%&                  [_|_\_&%&||
"""
romeo=r"""
      ||&%&            c           &%&||
      ||&%&           <)\/         &%&||
      ||&%&            /\          &%&||
ejm97 ||&%&&          / /         &&%&||
______||&%&&&====================&&&%&||______
"""

While perhaps an particular type of `str` to the human eye, `romeo` and `juliet` do not differ much from other strings.

> The prefix `r` marks the content of the following quotation marks as [raw strings](https://docs.python.org/2/reference/lexical_analysis.html#string-literals). The backslash `\` is hence just treated as a character itself.

###2.3.6 The `==` Condition

We have thus defined `romeo` and `juliet` as strings. In this sense, `romeo` and `juliet` are one of a kind! Compare `romeo` and `juliet`, using both the function `type()` and the comparison operation `==` (which checks that the variables in question are equal):

In [ ]:
type(juliet) == type(romeo)

True

Try also the following:

In [ ]:
type(romeo) == type("A string") == type('""') == type('''3''') == type('-0.052') == type("+") == type("True") == type("None")

True

∇  *Can you parse the above statement? Why does it return that value?*

Also try the following:

In [ ]:
type("Hello World!") == type(3)

False

∇  *What do you think that means, and why did it return that value?*

###2.3.7 Slicing 

You can also do other neat things with a `str`. For example, you can return the *first* character of a given string as follows (and let's draw on our poem from above):

In [ ]:
poem1[0]

'I'

This is the *slice* syntax. We're asking our machine here to return the character at position 0 from what we declared as `poem1`. 

Note here in particular that:
> Python starts counting at 0 as the lowest unsigned integer value


Compare that to numbering floors numbering. While you start with `1` in the US, in Europe you generally start with `0` or an equivalent of `Ground floor`.

In [ ]:
poem1[-1:]

NameError: ignored

∇  *Why do you think we need to include* `:` *here?*

(That's called slicing, and might become clearer through the next few examples)

With slicing, you can also specify a range:

In [ ]:
poem1[5:-5]

's not Death, for I stood up,\nAnd all the Dead, lie down -\nIt was not Night, for all the Bells\nPut out their Tongues, for Noon.\n\nAnd yet, it tasted, like them all,\nThe Figures I have seen\nSet orderly, for Burial\nReminded me, of mine -\n\nAs if my life were shaven,\nAnd fitted to a frame,\nAnd could not breathe without a key,\nAnd ’twas like Midnight, some -\n\nWhen everything that ticked - has stopped -\nAnd space stares - all around -\nOr Grisly frosts - first Autumn morns,\nRepeal the Beating Ground -\n\nBut most, like Chaos - Stopless - cool -\nWithout a Chance, or spar -\nOr even a Report of Land -\nTo justify - Des'

Or, if you only care about the last few graphs of a given `str`:

In [ ]:
poem1[-8:]

'Despair.'

In other words, we're asking the computer to return characters in index position `5` to `-5`. Note that the end index (here `-5`), will not be included.

### 2.3.8 String Methods

Another neat thing is that you can turn a set a whole string in upper or lower case:

In [ ]:
poem1[7:10].upper()

'NOT'

In [ ]:
poem1[0:32].lower()

'it was not death, for i stood up'

There's other neat things you can do with the `str` data type; we won't be able to cover all of this here, but there are plenty of resources out there that introduce you to more features Python offers. As always, the [Python documentation](https://docs.python.org/3/library/string.html#) forms a fantastic resource, but other sites, such as [W3Schools](https://www.w3schools.com/python/python_strings.asp), may be easier to understand at first.

## 2.4 Booleans

These last two examples already brought up a third data type: Booleans, or `bool`. These are statements about "truth", for statements that are either `True` or `False`.

###2.4.1 Conditions and Booleans

Usual logical conditions from mathematics are fully supported in Python. 

We've already encountered the operator `==`, which always returns a Boolean, as two (or more) variables are either equal or not. 

Quite a few operators, including comparison operators such as `>` (greater than), `<` (less than), or `<=` (less than or equal), do the same. Compare the following examples:

In [ ]:
3 < 5

True

In [ ]:
9 > 10

False

In [ ]:
5 <= 5

True

In [ ]:
True == False

False

You can also call the Boolean value through the built-in `bool()` function:

In [ ]:
bool(True)

True

In [ ]:
bool(False)

False

These are straight-forward, right? 

∇ *So what's the Boolean value of the following?*

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
bool(None)

False

In [ ]:
bool("Hello")

True

In [ ]:
bool("")

False

So in sum, `bool()` returns either `True` or `False`, according to the following schema:

*   `False` - if argument is empty, False, 0 or None
* `True` - if argument is any number (besides 0), True or a string

### 2.4.2 `not` Statements

Let's get a bit poetic with what we learned about Booleans.

∇ *What would you expect to happen in the following?*

In [ ]:
not False

True

In [ ]:
not True

False

With `not`, you can negate any Boolean expression or object. That's how `False` becomes `True` above, and vice-versa.

Negating other objects results in the following:

In [ ]:
not ""

True

In [ ]:
not 0

True

In [ ]:
not 1

False

In [ ]:
not "Asparagus"

False

In [ ]:
not -1.213879127489

False

In [ ]:
not None

True

In sum, you can use `not` with common Python objects, such as `str`, `int`, or `float`. You can also use it on Boolean expressions:

In [ ]:
not True == False

True

###2.4.3 `is` Statements

You can also attach yet another object to this statement, but then you'd need to include the `is` operator:

In [ ]:
(True == False) is not True

True

Pretty confusing, right? 

As a side note, compare the use of `==` (equals) to `is`: the former checks that the two objects have the same *value*; the latter checks that their *identity*. In that regard, note that `True` is always the same thing.

Also: `not` also checks the *identity*, while the equivalent `!=` (does not equal) checks the *value*.

So compare that to the following statement:

In [ ]:
x = 5
y = 5

(x == y) is x

False

∇ *What did we compare here?*

The more you practice, the more this'll get second nature to you. And don't worry about getting stuck -- remember [Stack Overflow](https://stackoverflow.com) and other resources we looked at in this lesson.

# Practice Section

To get more comfortable with all this, try to debug the lines of code below:

1. You should get the following output: `This is a string.`

In [ ]:
type "This is a string."

SyntaxError: ignored

2. You should get the following output: `5`

In [ ]:
print: [1 + 4]

TypeError: ignored

3. You should get the following output: `I've read 5 poems today.`

In [ ]:
x = 5
print("I've read" + x + "poems today.")

TypeError: ignored

4. You should get the following output: `word in words`

In [ ]:
print (word in words)

NameError: ignored

5. You should get the following output: 

> `But most, like Chaos - Stopless - cool -`
>
> `Without a Chance, or spar -`
>
>`Or even a Report of Land -`
>
> `To justify - Despair.`

In [ ]:
line1 == “But most, like Chaos - Stopless - cool -” 
line2 == '''Without a Chance, or spar -'''
line3 == "Or even a Report of Land -'
line4 == 'To justify - Despair.''

pritn(line1 + line2 + line2 - line4)

SyntaxError: ignored

6. You should get the following output: `True`

In [ ]:
bol(6 > 5)

True

7. You should get the following output: `True`

In [ ]:
x = 8

"Seven tigers" <= x + "lions"

TypeError: ignored

8. You should get the following output: `True`

∇ *How would you figure out what* `!=` *(used below) means?*

In [ ]:
True is not (True != False)

False

9. You should get the following output: `int`

In [ ]:
type("3")

int

10. Translate the description listed below into Python syntax

In [ ]:
# declare variables x as a float 4.3

# declare variable y as integer 8

# declare variable z as product of variables x and y

# return whether z is larger than or equal to 34

11. Translate the description listed below into Python syntax to create a short poem, using the first line from [one of Emily Dickinson's poems](https://www.poetryfoundation.org/poems/56454/banish-air-from-air-963)

Note: the built-in `input()` function can be used as follows: `input("what do you want to input?")`

In [ ]:
# build-a-poem script

# define line_1 as the following string: “Banish Air from Air -”

# use built-in input() function to declare line_2

# print the addition of the two strings (make sure to include a new line character!)

Leftovers: Need to explain somewhere: (Probably lesson 1)

|Operators| perform operations on values | `+` `*` `=` `==` `>` `and` `not` `in` `is not`|